name: Update GitHub Radar

on:
  schedule:
    # 每天 UTC 时间 16:00 运行（对应北京时间 0:00）
    - cron: '0 16 * * *'
  workflow_dispatch: # 允许手动点击按钮立即运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Script
        env:
          # 从 GitHub Secrets 中读取 Token
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: python utils/CommitTimeRadar.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add github_radar_centered.png
          # 只有当图片有变化时才提交，防止报错
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update Radar Chart [$(date)]" && git push)